h2{
    background-color: rgb(208, 127, 255);
    position:relative;
    max-width: 200px;
    margin: 0 auto;
    
}
p{
    background-color: blue;
    max-width: 200px;
    color:white;
    margin: 0 auto;
}